.body{
    color: cornflowerblue;
}

.main-conteiner{
    height: 300px;
    width: 400px;
    margin: 0 auto;
    border: solid;
   
}


.conteiner {
 display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  margin-top: 25px;
  width: 320px;
  height: 250px;

}
.red-block{
  
    height: 60px;
    width: 80px;
    border: solid;
    background-color: red;
}

.green-block{
    height: 150px;
    width: 200px;
    border: solid;
    background-color:chartreuse;
}
.blue-block{
    height: 150px;
    width: 80px;
    border: solid;
    background-color: blue;
    margin-top: -60px;
}
.yellow-block{
    height: 60px;
    width: 200px;
    border: solid;
    background-color: yellow;
    margin-top: 30px;
}